Comando para separar uma parte de um dataset:

In [ ]:
dados_resumidos = dados.loc[:,["nome da coluna","nome da outra coluna"]]
dados_resumidos.to_csv("resumo.csv")

Manipulando Dados incompletos (null, Nan):

In [ ]:
dados_nao_nulos = dados[pd.notnull(dados.nome_da_coluna)]
dados_filled = dados.nome_da_coluna.fillna('filler')

In [2]:
#dados = pd.read_excel('PES2015.xlsx')

Exportando Dados

In [3]:
#dados_selecionados = dados.loc[:,["UF","V061112","V061113","V06112","V8005","V4742","V6003"]]
#dados_selecionados.head()
dados_selecionados.to_csv("dados_selecionados.csv")

NameError: name 'dados_selecionados' is not defined

Introdução: SETAR A PERGUNTA (LIKA MOD&SIM) BEM SIMPLES E CONCISA ENVOLVENDO SUAS INFORMAÇÕES.

Bibliotecas a serem utilizadas

In [4]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os

Testando o diretório em que estamos trabalhando

In [5]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\wesle\Desktop\Insper\Ciência dos dados\DataScience

In [6]:
#dados = pd.read_csv("arquivo.zip",compression = "zip")
dados = pd.read_csv('dados_selecionados.csv')

dados.shape

(356904, 8)

In [9]:
dados = dados[(pd.notnull(dados.UF))&(pd.notnull(dados.V8005))]
dados.shape

(356904, 8)

In [7]:
list(dados)

['Unnamed: 0', 'UF', 'V061112', 'V061113', 'V06112', 'V8005', 'V4742', 'V6003']

In [8]:
dados.UF = dados.UF.astype('category')
dados.V061112 = dados.V061112.astype('category')
dados.V061113 = dados.V061113.astype('category')
dados.V06112 = dados.V06112.astype('category')
dados.V6003 = dados.V6003.astype('category')

In [9]:
dados

        Unnamed: 0  UF V061112 V061113 V06112  V8005         V4742 V6003
0                0  11     2.0     1.0    1.0     23  8.000000e+02   NaN
1                1  11     1.0     1.0    1.0     23  1.150000e+03   NaN
2                2  11     1.0     1.0    1.0     35  7.930000e+02   5.0
3                3  11     1.0     1.0    1.0     34  7.930000e+02   NaN
4                4  11     1.0     2.0    1.0     11  7.930000e+02   1.0
5                5  11     NaN     NaN    NaN      7  7.930000e+02   1.0
6                6  11     NaN     NaN    NaN      4  7.930000e+02   7.0
7                7  11     1.0     1.0    1.0     18  7.930000e+02   NaN
8                8  11     NaN     NaN    1.0     46  2.900000e+03   NaN
9                9  11     NaN     NaN    3.0     81  2.900000e+03   NaN
10              10  11     1.0     2.0    3.0     71  1.990000e+03   NaN
11              11  11     NaN     NaN    3.0     47  3.500000e+02   NaN
12              12  11     2.0     1.0    1.0     24  3.500000e+02   NaN
13              13  11     NaN     NaN    3.0     28  1.333000e+03   NaN
14              14  11     NaN     NaN    1.0     50  1.333000e+03   NaN
15              15  11     NaN     NaN    NaN      1  1.333000e+03   NaN
16              16  11     1.0     1.0    1.0     34  8.180000e+02   NaN
17              17  11     1.0     1.0    1.0     35  8.180000e+02   NaN
18              18  11     2.0     1.0    1.0     16  8.180000e+02   NaN
19              19  11     1.0     1.0    1.0     11  8.180000e+02   1.0
20              20  11     NaN     NaN    NaN      3  8.180000e+02   NaN
21              21  11     1.0     1.0    1.0     57  1.716000e+03   NaN
22              22  11     1.0     2.0    1.0     51  1.716000e+03   NaN
23              23  11     1.0     1.0    1.0     16  1.716000e+03   2.0
24              24  11     1.0     1.0    1.0     60  2.500000e+03   NaN
25              25  11     1.0     1.0    1.0     50  1.400000e+03   5.0
26              26  11     1.0     1.0    1.0     30  1.400000e+03   NaN
27              27  11     1.0     1.0    1.0     26  6.660000e+02   NaN
28              28  11     2.0     1.0    1.0     20  6.660000e+02   NaN
29              29  11     NaN     NaN    NaN      1  6.660000e+02   NaN
...            ...  ..     ...     ...    ...    ...           ...   ...
356874      356874  53     2.0     1.0    1.0     15  1.000000e+12   1.0
356875      356875  53     NaN     NaN    1.0     54  2.810000e+02   NaN
356876      356876  53     NaN     NaN    1.0     47  2.810000e+02   NaN
356877      356877  53     2.0     1.0    1.0     24  2.810000e+02   NaN
356878      356878  53     1.0     1.0    1.0     22  2.810000e+02   NaN
356879      356879  53     1.0     1.0    1.0     20  2.810000e+02   NaN
356880      356880  53     1.0     1.0    1.0     28  2.810000e+02   NaN
356881      356881  53     2.0     1.0    1.0     30  7.750000e+02   NaN
356882      356882  53     1.0     1.0    1.0     31  7.750000e+02   NaN
356883      356883  53     NaN     NaN    NaN      9  7.750000e+02   1.0
356884      356884  53     NaN     NaN    NaN      4  7.750000e+02   7.0
356885      356885  53     2.0     1.0    1.0     32  6.750000e+02   NaN
356886      356886  53     2.0     1.0    1.0     30  6.750000e+02   NaN
356887      356887  53     NaN     NaN    NaN      4  6.750000e+02   9.0
356888      356888  53     NaN     NaN    NaN      1  6.750000e+02   NaN
356889      356889  53     1.0     1.0    1.0     34  1.000000e+02   1.0
356890      356890  53     NaN     NaN    NaN      9  1.000000e+02   1.0
356891      356891  53     NaN     NaN    NaN      6  1.000000e+02   1.0
356892      356892  53     NaN     NaN    NaN      5  1.000000e+02   9.0
356893      356893  53     NaN     NaN    NaN      2  1.000000e+02   NaN
356894      356894  53     NaN     NaN    1.0     57  7.960000e+02   NaN
356895      356895  53     1.0     1.0    1.0     36  7.960000e+02   NaN
356896      356896  53     1.0     1.0    1.0     18  7.960000e+02   NaN
356897      356897  53     NaN     NaN    1.0     57  7.500000e+02   NaN
356898      356898  53     1.0     1.0    1.0     33  7.500000e+02   NaN
356899      356899  53     1.0     1.0    1.0     38  2.590000e+02   NaN
356900      356900  53     1.0     1.0    1.0     39  2.590000e+02   NaN
356901      356901  53     1.0     1.0    1.0     17  2.590000e+02   2.0
356902      356902  53     1.0     1.0    1.0     15  2.590000e+02   2.0
356903      356903  53     NaN     NaN    NaN      7  2.590000e+02   1.0

[356904 rows x 8 columns]