Comando para separar uma parte de um dataset:

In [ ]:
dados_resumidos = dados.loc[:,["nome da coluna","nome da outra coluna"]]
dados_resumidos.to_csv("resumo.csv")

Eliminando Dados incompletos (null, Nan):

In [ ]:
 dados_nao_nulos = dados[pd.notnull(dados.nome_da_coluna)]

Bibliotecas a serem utilizadas

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os

Testando o diretório em que estamos trabalhando

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\wesle\Desktop\Insper\Ciência dos dados\DataScience

In [4]:
#dados = pd.read_excel('PES2015.xlsx')

In [10]:
dados.head()

,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,V8005,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,2015,11,15,1,1,2,27,2,1992,23,...,1.0,800.0,4.0,5,1.0,2.0,2.0,1.0,800.0,20161117
1,2015,11,15,3,1,4,4,5,1992,23,...,1.0,1150.0,4.0,5,1.0,2.0,2.0,1.0,1150.0,20161117
2,2015,11,15,4,1,4,4,1,1980,35,...,6.0,793.0,4.0,6,1.0,2.0,2.0,1.0,793.0,20161117
3,2015,11,15,4,2,2,5,6,1981,34,...,6.0,793.0,4.0,7,1.0,2.0,2.0,1.0,793.0,20161117
4,2015,11,15,4,3,4,8,4,2004,11,...,6.0,793.0,4.0,2,2.0,NaN,NaN,2.0,793.0,20161117

In [12]:
dados_selecionados = dados.loc[:,["UF","V061112","V061113","V06112","V8005","V4742","V6003"]]
dados_selecionados.head()
dados_selecionados.to_csv("dados_selecionados.csv")

In [7]:
dados = pd.read_csv('dados_selecionados.csv')
dados.head()
dados.count()

Unnamed: 0    356904
UF            356904
V061112       181555
V061113       181555
V06112        308599
V8005         356904
V4742         356312
V6003          97516
dtype: int64

In [8]:
dados_nao_nulos = dados[pd.notnull(dados.UF)&pd.notnull(dados.V8005)]
dados_nao_nulos.count()

Unnamed: 0    356904
UF            356904
V061112       181555
V061113       181555
V06112        308599
V8005         356904
V4742         356312
V6003          97516
dtype: int64